.home1 {
  margin-top: 40vh;
}
@media (max-width: 768px) {
  .home1 {
    margin-top: 47vh;
  }
}
.table1 {
  margin: 1em;
  display: flex;
  text-align: center;
  flex-direction: column;
}

.header,
.row {
  display: flex;
}

div > .header,
div > .body {
  flex: 1;
  padding: 0.2rem 0.4em;
  border: 1px solid rgb(238, 238, 238);
}
.c {
  display: flex;
  flex-direction: row;
}
.board {
  width: 40vw;
}
