.home1 {
  margin-top: 40vh;
}
@media (max-width: 768px) {
  .home1 {
    margin-top: 67vh;
  }
}
.table1 {
  margin: 1em;
  display: flex;
  text-align: center;
  flex-direction: column;
}
@media(max-width:768px){
  .table1 {
    max-width: 90vw;
    display: flex;
    text-align: center;
    flex-direction: column;
  }
}

.header,
.row {
  display: flex;
}
.header{
    font-weight: bolder;
}

div > .header,
div > .body {
  flex: 1;
  padding: 0.2rem 0.4em;
  border: 1px solid rgb(238, 238, 238);
}
.c {
  display: flex;
  flex-direction: row;
  
}
.hr2 {
  border-style: none;
  border-top-style: dotted;
  border-color: grey;
  border-width: 5px;
  width: 15vw;
  margin-top: 3vh;
  position: absolute;
  padding-left: 20vw;
  margin-left: 40vw;
  /* margin-right: 50vw; */
}
@media (max-width: 768px) {
  .hr2 {
    margin-top: 2vh;
    /* margin-bottom: 20vh; */
  }
}

