.Nav {
  background-color: #63d471;
  height: 8.16vh;
  display: flex;
  justify-content: center;
  align-self: center;
  font-size: 2.55rem;
  /* padding: 0.2rem calc((100vw - 1000px) / 2); */
  /* Third Nav */
  /* justify-content: flex-start; */
}

.Bars {
  display: none;
  color: #808080;
}
@media (max-width: 768px) {
  .Bars {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    transform: translate(-100%, 75%);
    font-size: 1.8rem;
    cursor: pointer;
  }
}
.nav-menu {
  display: flex;
  width: 100%;
  height: 90vh;
  /* position: relative; */
  top: 6%;
  left: -100%;
  opacity: 1;
  transition: all 0.5s ease;
}
@media (max-width: 768px) {
  .nav-menu {
    position: relative;
    top: 6%;
  }
}

.nav-menu.active {
  background: #63d471;
  /* width: 50vw; */
  margin-top: 7vh;
  height: 90vh;
  /* top: 0%; */
  left: 0;
  opacity: 1;
  transition: all 0.5s ease;
  z-index: 1;
}
@media (max-width: 768px) {
  .nav-menu.active {
    background: #63d471;
    /* text-align: center; */
    /* width: 90vw; */
    margin-top: 7vh;
    height: 30vh;
    /* top: 0%; */
    left: -6.2vw;
    opacity: 1;
    transition: all 0.5s ease;
    z-index: 1;
  }
}
.nav-item {
  display: flex;
  align-items: center;
  height: 80px;
  font-size: .5em;
  
}
@media (max-width: 768px) {
  .nav-item {
    display: flex;
    flex-direction: column;
    margin-left: 20vw;
    margin-right: 20vw;
    width: 60vw;
    height: 80px;
  }
}
.nav-links {
  color: white;
  display: flex;
  justify-content: center;
  text-decoration: none;
  text-align: center;
  padding: 0.5rem 1rem;
}
.nav-links:hover {
  background-color: turquoise;
  color: black;
  border-radius: 4px;
  transition: all 0.2s ease-out;
}
@media (max-width: 768px) {
  .nav-links:hover {
    background-color: turquoise;
    color: black;
    border-radius: 4px;
    transition: all 0.2s ease-out;
  }
}
.justin{
  display: inline;
  margin-right: 10%;
  margin-left: 10%;
  text-align: center;
  align-self: center;
  color:#FFFFFF;
  font-weight: bold;
}
@media (max-width:768px){
  .justin{
  margin-right: -20%;

  }
}